#top_ranked.well
    #popular_packages.span4
      h3(title="Most watched and forked modules on Github") By Github Popularity
      dl
        each package in top_ranked_packages
          dt
            a(href='/packages/#{encodeURIComponent(package.id)}') #{package.id}
    #top_dependent_packages.span3(title = "Packages with lots of dependencies")
    #top_downloads.span3(title= "Popular packages by downloads yesterday")
    #recently_added.span4(title= "Packages added recently")

#categories.row
  each packages_info, category_name in categories
    .tile.span5.category
      h4
        a(href='/categories/#{encodeURIComponent(category_name)}') 
          != partial('./partials/_category_name', {category_name: category_name, packages_info: packages_info})
      p
        each package in packages_info.docs
          a(href='/packages/'+ package.id, rel="twipsy", class='package', title=" forks: #{package.forks};  watchers: #{package.watchers} ") #{package.id}
      p.more
        a(href='/categories/#{encodeURIComponent(category_name)}', class='btn') More »
