.tile
  .header
    h2
      if package.home_page
        a(href=package.homepage) #{package.name}
      else
        = package.name
    span#latest-tag.label(title='latest')= package.latestVersion.version
    #like
      a.btn.small.info(href="#", data-package='#{package.name}') Like
      .twipsy.right.in
        .twipsy-arrow
        .twipsy-inner.like_count #{package.attributes.likes}
    if package.github
      #forks
        a.btn.small.info(href="#") Forks
        .twipsy.right.in
          .twipsy-arrow
          .twipsy-inner #{package.github.forks}
      #watchers
        a.btn.small.info(href="#") Watchers
        .twipsy.right.in
          .twipsy-arrow
          .twipsy-inner #{package.github.watchers}
    
        #when-updated
          span.notice.label Last Updated : 
          span.label.notice.timeago(title='#{package.lastUpdatedOn}') #{package.lastUpdatedOn}

  div
    blockquote= package.attributes.description

      |   --  
      a(href="#readme") Read More
    if package.installCommand
      .alert-message
        h4
          | INSTALL » #{package.installCommand}
    if package.codeCommand
      .alert-message
        h4
          | CODE » #{package.codeCommand}

    .package-section
      .span8
        h5 Repository:
          ul
            if package.attributes.repository
              li Type: #{package.attributes.repository.type}
            if package.github
              li URL: &nbsp;
                a(href='#{package.github.url}') #{package.github.url}

    hr
    .package-section
      .span8
        h5 Categories:
          dl 
            each category in package.categories
              dt
                a(href='/categories/' + encodeURIComponent(category)) #{category}
      .span8
        h5 Engines:
        dl
          each engine_version, engine_name in package.engines
            dt #{engine_name} #{engine_version}
    hr
    .package-section
      .span5
        h5 Author:
        ul.unstyled
          if(!package.authorEmail)
            li= package.authorName
          else
            li
              a(href='mailto:'+package.authorEmail) #{package.authorName}
      .span5
        h5 Contributers
          ul.unstyled
            each contributer in package.contributers
              li= contributer.name

      .span5
        h5 Maintainers
        ul.unstyled
          each contributor in package.maintainers
            li= contributor.name
    hr
    .package-section
      .span5
        h5 Dependencies:
          ul.unstyled
            each dependency_version, dependency in package.dependencies
              li #{dependency} #{dependency_version}
      .span5
        h5 Dev Dependencies:
          ul.unstyled
            each dependency_version, dependency in package.devDependencies
              li #{dependency} #{dependency_version}
    if(package.github)
      hr
      a(name='readme')
      .readme_js(data-owner='#{package.owner}', data-repo='#{package.repositoryName}')