.tile
  .header.row-fluid
    h2
      if package.home_page
        a(href=package.homepage) #{package.name}
      else
        = package.name
    span#latest-tag.label(title="latest")= package.latestVersion.version
    #like.action
      a.btn.small.info(href="/packages/#{package.id}/like", rel="tooltip", data-package="#{package.id}") Like &nbsp;&nbsp;
        span.count.badge.badge-info(rel='tooltip', title='Liked Successfully') #{package.attributes.likes}
    if package.github
      #forks.action
        a.btn.small.info(href="/packages/#{package.id}/fork") Fork &nbsp;&nbsp;
          span.count.badge.badge-info(rel='tooltip', title='Forked Successfully') #{package.github.forks}
      #watchers.action
        a.btn.small.info(href="/packages/#{package.id}/watch") Watch &nbsp;&nbsp;
          span.count.badge.badge-info(rel='tooltip', title='Watched Successfully') #{package.github.watchers}
    
    #when-updated
      span.notice.label Last Updated : 
      span.label.notice.timeago(title="#{package.lastUpdatedOn}") #{package.lastUpdatedOn}

  div.container
    blockquote.row= package.attributes.description

      |   --  
      a(href="#readme") Read More
    if package.installCommand
      .alert.alert-info.row
        h4
          | INSTALL » #{package.installCommand}
    if package.codeCommand
      .alert.alert-info.row
        h4
          | CODE » #{package.codeCommand}

    if package.github
      .alert.alert-info.row
        h4
          | GITHUB » 
          a(href="#{package.github.html_url}") #{package.github.html_url}

    hr
    .package-section.row-fluid
      .span6
        h5 Categories:
          form(action="/packages/"+package.id, method="POST")
            select.chosen-categories(data-placeholder="Select Categories", multiple ="", style="width:350px;", name= "categories")
              for category in allCategories
                option(selected=package.categories.indexOf(category) != -1) #{category}

      .span6
        h5 Engines:
        dl
          each engine_version, engine_name in package.engines
            dt #{engine_name} #{engine_version}
    hr
    .package-section.row-fluid
      .span4
        h5 Author:
        ul.unstyled
          if(!package.authorEmail)
            li= package.authorName
          else
            li
              a(href="mailto:"+package.authorEmail) #{package.authorName}
      .span4
        h5 Contributers
          ul.unstyled
            each contributer in package.contributers
              li= contributer.name

      .span4
        h5 Maintainers
        ul.unstyled
          each maintainer in package.maintainers
            li= maintainer.name
    hr
    .package-section.row-fluid
      .span6
        h5 Dependencies:
          ul.unstyled
            each dependency_version, dependency in package.dependencies
              li 
                a(href='/packages/'+ dependency) #{dependency} 
                #{dependency_version}
      .span6
        h5 Dev Dependencies:
          ul.unstyled
            each dependency_version, dependency in package.devDependencies
              li 
                a(href='/packages/'+ dependency) #{dependency} 
                #{dependency_version}
    if(package.github)
      hr
      a(name="readme")
      .readme_js(data-owner="#{package.owner}", data-repo="#{package.repositoryName}")